.content {
	overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content_pd-left {
	padding-left: 140px;
}

.content_no-hero {
	padding-top: 200px;
}

.content_blurred {
	filter: blur(5px); 
}