.news-thumb {
	position: relative;
	display: block;
	background: none;
	height: 100%;
	transition: 300ms;
	background-color: #fff;
	cursor: pointer;
	box-shadow: 0 15px 15px rgba(0,0,0,.3);
	h3 {
		color: black;
	}
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
		z-index: 1;
		transition: 400ms;
		opacity: 0;
	}
	&:hover {
		transform: translatey(-8px);
		.news-thumb__btn {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%);
			transition-delay: 100ms;
		}
	}
	&:hover::before {
		opacity: 1;
	}
}
.news-thumb__btn {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-20%);
	background-color: #58bbb0;
	color: #fff;
	padding: 8px 25px;
	transition: 400ms;

	opacity: 0;

}
.news-thumb__img {
	position: relative;
	height: 220px;
	overflow: hidden;
	@include bg-cover;
}
.news-thumb__info {
	padding: 20px;
	background-color: #fff;
	h3 {
		padding: 0 0 10px 0;
		margin: 0;
		font-weight: 400;
	}
	p {
		color: gray;
	}
}
