.hero-slider {
	position: relative;
	height: 100vh;

	.swiper-container {
		height: 100%;
	}

	.swiper-slide {
		height: 100%;
		@include flex-row(nowrap,center,center);
		@include bg-cover;
	}

	.swiper-button-next {
			position: absolute;
			@include flex-row(nowrap,center,center);
			margin-top:0;
			width: 52px;
			height: 52px;
			// top: -52px;
			right: 0;
			background: #00b787;
			transition: 400ms;
			i {color: #fff;transition: 800ms;}
			&:hover {
				// i {transform: translateX(3px);}
				background: #b4efe0;
				i {	color: black; }
			}
		}
		.swiper-button-prev {
			position: absolute;
			margin-top:0;
			width: 52px;
			@include flex-row(nowrap,center,center);
			height: 52px;
			// top: -52px;
			// right: 53px;
			left: auto;
			background: #00b787;
			transition: 400ms;
			i {color: #fff;transition: 800ms;}
			&:hover {
				// i {transform: translateX(3px);}
				background: #b4efe0;
				i {	color: black; }
			}
		}
}
