
.btn, 
.btn:visited, 
input.btn,
input.btn:visited{
	display: inline-block;
	position: relative;	
	overflow: hidden;
	text-decoration: none !important;
	cursor: pointer !important;
	line-height: 100%;
	text-align: center;
	transition: all 900ms;
	letter-spacing: 1px;

}


.btn_main,
.btn_main:visited,
input.btn_main
input.btn_main:visited {
	background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(48,179,220,1) 50%);
	background-size: 250%;
	background-position: 0% 0;
	border: 2px solid $color_main;
	background-position: 100% 0;
	&:hover { 
        text-decoration: none;
        background-position: 0% 0%;
        color: #fff;
    }
    &:focus,
    &:active { 
        background-color: transparent;
    }
}

.btn_call-icon {
	position: relative;
	padding-left: 100px !important;
	&::before {
		position: absolute;
	    content: '';
	    width: 40px;
	    height: 40px;
	    left: 37px;
	    top: 50%;
	    background: url(/img/icons/tel.svg);
	    background-position: 50% 50%;
	    background-size: contain;
	    background-repeat: no-repeat;
	    transform: translateY(-50%);
	}

}

.btn_size-m {
	@include font-kit(18px, 17px, 16px, 15px, 14px);
	padding: 10px 14px;
}
.btn_size-s {
	@include font-kit(14px, 14px, 13px, 13px, 12px);
	padding: 8px 12px;
}


.btn-burger {
	@include flex-col(nowrap, center, center);
	width: 140px;
	flex: 0 0 140px;
	max-width: 140px; /*IE*/
	height: 140px;
	margin: 0 0 40px 0;
	cursor: pointer;
    transition: 200ms;
    padding: 16px 16px;
	&:hover {
		background-color: $color_main;
		.btn-burger__bar {background: #fff;}
		// .btn-burger__bar:nth-child(1) {background-color: #fff; width: 80px;}
		// .btn-burger__bar:nth-child(2) {background-color: #fff; width: 60px;	}
		// .btn-burger__bar:nth-child(3) {background-color: #fff; width: 75px;}

	}
}
.btn-burger__bar {
	width: 50px;
    height: 2px;
    margin-bottom: 12px;
	background-color: $color_gray;
    transition: 300ms;
    &:last-child {margin-bottom: 0;}

}


@media screen and (max-width: 1400px) {
	.btn-burger {
		flex: 0 0 110px;
		max-width: 120px;
		margin: 0 0 20px 0;
	}
}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {
	.btn-burger {
		flex: 0 0 100px;
		max-width: 110px;
		margin: 0 0 10px 0;
	}
}
@media screen and (max-width: 768px) {
	.btn-burger {
		flex: 0 0 65px;
		max-width: 65px;
		margin: 0 0 0 0;
		border-right: 1px solid rgba(255,255,255,.1);
		background-color: rgba(0,0,0,.1);
	}
	.btn-burger__bar {
		background-color: #fff;
		width: 32px;
		margin-bottom: 9px;
	}
}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}