.inner-page {
	.hero {}
	.header {}

	h1 {
		margin: 40px 0 45px 0;
	}
}

.text-small {
	font-size: .8em;
}

.h-hover-zoom {
	transition: 450ms;
	&:hover {
		transform: scale(1.06) !important;
	}
}

.text-100 {
	@include font-kit(100px, 90px, 80px, 70px, 60px);
	font-weight: 900;
	line-height: .85;
	margin-bottom: 0;
}
.text-brutal {
	@include font-kit(48px, 42px, 38px, 32px, 28px);
	@include line-height-kit(1.05, 1.1, 1.1, 1.15, 1.2);
	font-weight: 400;
}

.color-white {
	color: white !important;
}
.color-main {
	color: $color_main !important;
}

.hideme {
	opacity: 0;
	// transform: translateX(-15px);
	transition: 500ms !important;
}
.del200 	{transition-delay: 200ms !important;}
.del400 	{transition-delay: 400ms !important;}
.del600 	{transition-delay: 500ms !important;}
.del800 	{transition-delay: 600ms !important;}
.del1000 {transition-delay: 1000ms !important;}
.del1200 {transition-delay: 1200ms !important;}
.del1400 {transition-delay: 1400ms !important;}
.del1600 {transition-delay: 1600ms !important;}

.hideme_up {
	transform: translateY(45px);
}
.hideme_left {
	transform: translateX(-45px);
}
.hideme_right {
	transform: translateX(45px);
}
.hideme_down {
	transform: translateY(-45px);
}

.hideme_visible {
	// transition-delay: 3000ms;
	transform: none !important;
	opacity: 1;
}

.h-big-wave-deco {
	position: relative;
	width: 100%;
	&::before {
		@include pseudo;
		width: 100%;
		height: 100vw;
		top: -15vw;
		left: 0;
		background-image: url(/img/bg/3-numbers/bg-nums-wave.svg);
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
		z-index: -10;
	}
}

.h-bg-footer {
	background-image: url(/img/bg/11-gallery/bg-gallery.svg);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}



.h-no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.bg-blue {
	background-color: #08518a;
}


.h-bg-bigwave {
	position: relative;
	&::before {
		@include pseudo;
		left: 0;
		top: 0;
		height: 1800px;
		width: 100%;
		background-image: url(/img/bg/6-advant/bg-big-wave_in-advant.png);
		@include bg-cover;
		z-index: -5;
	}
	&_left::before {}
	&_right::before {transform: rotateY(180deg);}
}






.h-stats-bg {
	position: relative;
	&__one {
		position: absolute;
	    width: 95vw;
	    height: 95vh;
	    left: -46vw;
	    top: 5vh;
	    z-index: -1;
		background-image: url(/img/bg/5-stats/bg-stats-1.png);
		@include bg-contain;
	}
	&__two {
		position: absolute;
	    width: 100vw;
	    height: 100vh;
	    left: -42vw;
	    top: 8vh;
	    z-index: -2;
		background-image: url(/img/bg/5-stats/bg-stats-2.png);
		@include bg-contain;
	}
}

.img-resp {
	width: 100%;
	height: auto;
}

.full-width {
	width: 100%;
}

.caption-deco {
	padding: 0 0 45px 0;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		width: 140px;
		height: 2px;
		background-color: #00b787;

	}
}
.mb-0 	{margin-bottom: 0px !important;}
.mb-10 	{margin-bottom: 10px !important;}
.mb-20 	{margin-bottom: 20px !important;}
.mb-30 	{margin-bottom: 30px !important;}
.mb-40 	{margin-bottom: 40px !important;}
.mb-60 	{margin-bottom: 60px !important;}
.mb-80 	{margin-bottom: 80px !important;}
.mb-100 {margin-bottom: 100px !important;}
.mb-200 {margin-bottom: 200px !important;}

.pb-40 {padding-bottom: 40px !important;}
.pb-140 {padding-bottom: 140px !important;}




.content-block {
	flex: 0 0 50%;
	max-width: 50%;
	background-color: #fff;
	padding: 40px;
	&.pos-right {margin-left: auto;}
	&.pos-left {margin-right: auto;}
	&.slider-holder {
		position: relative;
		padding: 0;
		align-self: flex-end;
		height: 291px;
		.swiper-button-next {
			position: absolute;
			@include flex-row(nowrap,center,center);
			margin-top:0;
			width: 52px;
			height: 52px;
			top: -52px;
			right: 0;
			background: #00b787;
			transition: 400ms;
			i {color: #fff;transition: 800ms;}
			&:hover {
				// i {transform: translateX(3px);}
				background: #b4efe0;
				i {	color: black; }
			}
		}
		.swiper-button-prev {
			position: absolute;
			margin-top:0;
			width: 52px;
			@include flex-row(nowrap,center,center);
			height: 52px;
			top: -52px;
			right: 53px;
			left: auto;
			background: #00b787;
			transition: 400ms;
			i {color: #fff;transition: 800ms;}
			&:hover {
				// i {transform: translateX(3px);}
				background: #b4efe0;
				i {	color: black; }
			}
		}
		.swiper-container {
			width: 100%;
			height: 100%;
		}
	}

	h2,h3,h4,h5,h6 {color: $color_main;}
}



.lookatme {
	position: relative;
    padding: 30px;
    overflow: hidden;
    background-color: #ffffff;
    min-height: 220px;
    height: 100%;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.15);
    transition: 400ms;
    &::before {
		position: absolute;
	    content: '';
	    bottom: 0;
	    right: 0;
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    background-color: #9ee8ff;
	    transition: 400ms;
	    transform: translateX(45px) translateY(25px);
	    opacity: .2;
    }
    &:hover {
		transform: translateY(-5px);
		box-shadow: 0 7px 30px 0 rgba(0,0,0,.25);
    }
    &:hover::before {
		width: 200%;
		height: 200%;
		transform: translateX(50%) translateY(50%);
    }
}


.innerpage {
	h1,h2,h3,h4,h5 {
		color: $color-main;
		margin: 40px 0;
	}
}


	@media screen and (max-width: 1200px) {
    	.hidden-to-xl {
    		display: none !important;
    	}
    }
    @media screen and (max-width: 992px) {
    	.hidden-to-lg {
    		display: none !important;
    	}
    }
    @media screen and (max-width: 768px) {
    	.h-md-hide-br {
    		br {
    			display: none;
    		}
    	}
		.mb-30 	{margin-bottom: 25px !important;}
		.mb-40 	{margin-bottom: 30px !important;}
		.mb-60 	{margin-bottom: 45px !important;}
		.mb-80 	{margin-bottom: 60px !important;}
		.mb-100 {margin-bottom: 80px !important;}
		.mb-200 {margin-bottom: 165px !important;}
		.pb-140 {padding-bottom: 105px !important;}

    }
    @media screen and (max-width: 568px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 20px !important;}
		.mb-40 	{margin-bottom: 25px !important;}
		.mb-60 	{margin-bottom: 35px !important;}
		.mb-80 	{margin-bottom: 45px !important;}
		.mb-100 {margin-bottom: 60px !important;}
		.mb-200 {margin-bottom: 135px !important;}
		.pb-140 {padding-bottom: 80px !important;}
    }
    @media screen and (max-width: 413px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 15px !important;}
		.mb-40 	{margin-bottom: 20px !important;}
		.mb-60 	{margin-bottom: 30px !important;}
		.mb-80 	{margin-bottom: 40px !important;}
		.mb-100 {margin-bottom: 50px !important;}
		.mb-200 {margin-bottom: 100px !important;}
		.pb-140 {padding-bottom: 55px !important;}
    }





@media screen and (max-width: 1400px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {
	.content-block {
		flex: 1 1 100%;
		max-width: 100%;
		padding: 20px;
		margin: 40px 0;
	}
	.text-100 {
		text-shadow: 0 0 25px rgba(0,0,0,.08);
	}
}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}